body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
span {
  color: #2e2f42;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.header-adress-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
  font-size: 16px;
  line-height: 1.5;
}
.header-nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
  font-size: 16px;
  line-height: 1.5;
}
.heading {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}
.heading_title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.team_page_item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio_page_item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.portfolio_item,
.team_name,
.priorities {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  letter-spacing: 0.04em;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
.page_p_one,
.page_p_three,
.team_job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team_page {
  background-color: #f4f4fd;
}
.team_name,
.team_job {
  text-align: center;
  letter-spacing: 0.02em;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
address {
  font-style: normal;
}
.foot {
  background-color: #2e2f42;
}
.foot_page {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo_foot {
  color: #f4f4fd;
}
.team_fone {
  background-color: #ffffff;
}
